body{
	background-color:black;
	
}

.tu-header{
	
	background:gold;
	
	font-family:verdana;
	
}

.text-center {
	text-align: center;
	color: white;
	  }
.center {
	align-content: center;
}
.gold-color{
	background: gold;
	width: 100%;
}
.move-right{
	float:right;
}

