
#container {
    width: 1000px;
    background-color: ;
    margin: auto;
}
#first {
    width: 500px;
    float: left;
    height: 500px;
        background-color:gold;
        text-align: center;
        font-size:100px;
}
#second {
    width: 500px;
    float: left;
    height: 500px;
    background-color: gold;
    border-color:white;
    border-width: 5px;
    text-align: center;
        font-size:100px;
}
    ;
}
#clear {
    clear: both;
}
body{
    background-color: black;
}
