body{
    background-color:black;
}
.contact{
    padding: 4%;
    height: 400px;
}
.h4{
    padding: 4%;
    height: 400px;
}

.col-md-3{
    background:gold;
    padding: 1%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: .7%;
     /* height: 400px; */
}

.panel-title{
    background:gold;
    padding: 1%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: .7%
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: black;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
.navbar-brand{
    color: black;
}